{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <section class="accueil">
        <accueil>
            <h2>Bienvenue sur AppMap</h2>
            <div class="content">
            </div>
        </accueil>

    </section>
{% endblock %}