{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<section class="accueil">
    <accueil>
        <h2>Bienvenue sur AppMap</h2>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, corporis eveniet
            laudantium maiores odit quae saepe vel voluptate! Amet autem commodi dignissimos doloribus error eum
            facilis itaque laboriosam libero minus mollitia nam nihil officia ratione reiciendis, rem similique
            soluta voluptatum? A aliquam consectetur deleniti earum nesciunt odit officia pariatur quam sed. Ex
            hic inventore laborum natus obcaecati officiis quis vero vitae voluptate. Ab incidunt laborum,
            necessitatibus quibusdam rerum velit. A amet animi aperiam architecto dolor dolorem eaque eius est
            et itaque iure laboriosam magnam maiores minima, modi molestiae mollitia nam necessitatibus, nihil
            nostrum nulla odio omnis placeat quas quis repudiandae rerum saepe sapiente similique suscipit totam
            vel veritatis, vero? Cumque enim, eos eum explicabo facilis, iusto neque omnis possimus quos repellat
            saepe sapiente temporibus voluptas! Beatae distinctio ducimus ea eligendi ipsum magni modi, nulla odit
            placeat voluptas! Ab accusamus at blanditiis consequuntur corporis debitis dolor eveniet exercitationem
            fuga impedit ipsam iste laboriosam libero minus mollitia nobis nostrum pariatur placeat quas quidem quos
            reiciendis repudiandae sequi, similique tempore unde, velit! Incidunt laudantium quae voluptas. Ad
            delectus error magnam minus officia! Debitis dolor doloremque ducimus, fugiat nihil numquam quia quisquam
            quos vero voluptatem! Debitis explicabo facilis labore nemo numquam odio odit sapiente?
        </div>
    </accueil>

</section>
{% endblock %}
