

{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam at consectetur, cum eligendi necessitatibus
    quaerat quas recusandae sed similique velit vero. Asperiores consequuntur cum deleniti dignissimos ducimus, ea
    exercitationem illum neque nesciunt nisi optio perferendis possimus quaerat soluta suscipit unde velit veritatis
    voluptate? Aperiam, aspernatur culpa dolore dolorem laborum nemo recusandae ullam. Corporis culpa excepturi
    molestiae omnis praesentium provident tempore veniam voluptas. Ab accusantium aliquid commodi cupiditate earum esse
    explicabo ipsa, obcaecati odio, optio possimus sint tempore voluptatem! Accusantium corporis magnam necessitatibus
    non similique temporibus ullam voluptate. Alias distinctio dolorem doloribus exercitationem, iusto magni, mollitia
    natus, nihil non odio perferendis quisquam quod! Asperiores consectetur consequuntur dignissimos earum facilis
    incidunt mollitia necessitatibus quam repellat sed temporibus ullam ut, veniam? Accusantium adipisci aliquid aperiam
    architecto, autem corporis dicta earum, eius, esse ex facere harum iste itaque laudantium numquam perspiciatis
    placeat quis reiciendis repellendus rerum sunt tempora vel! Accusantium adipisci eligendi fugit illum in iusto quo
    quod quos tempora ullam? Alias aperiam libero magni quisquam sapiente sunt ut. Ad aliquam culpa eius labore nobis
    nostrum quidem quo reprehenderit voluptates? Aspernatur autem consectetur culpa debitis dolores eum excepturi
    explicabo facilis fugiat impedit maiores nihil non odio, officiis omnis possimus praesentium quaerat quia, quidem
    quo ratione repellendus rerum saepe sunt suscipit tempora tenetur vitae! Amet beatae blanditiis, dolorum eaque est,
    harum iure mollitia officia, qui rerum tempora ullam velit voluptatum. Ad adipisci amet architecto cumque eius, et
    excepturi impedit ipsa iste natus nihil nobis qui quisquam rem sit totam ut. Aperiam deserunt similique
    tenetur.</h2>
{% endblock %}